//breakpoints
$mobile: 600px;
$tablet: 768px;
$desktop: $tablet + 1;

@mixin mobile() {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: $desktop) {
		@content;
	}
}

:root {
	//colors
	--black: #000;
	--white: #FFF;
	--orange: #e89043;
	--gray: #999;
	--light-gray: #ccc;

	//fonts
	--main-font: 'Oswald', sans-serif;

	//misc
	--transition-duration: 0.3s;
}